# Docs and devs
.diff/

# Temp files
*.FCBak
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpointsSS

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
*.egg